---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout pageTitle="资料库">
	<!-- rts about area start -->
	<div id="library" style="padding-top: 240px;" class="rts-about-area rts-section-gapBottom">
		<div class="container">
			<div class="row g-5">
				<div class="col-lg-6">
					<div class="thumbanil-about-electitian">
						<img src="/static/21.png" alt="about">
					</div>
				</div>
				<div class="col-lg-6 pl--50 pl_sm--20">
					<div class="about-area-right-electritian">
						<div class="title-area-left">
							<p class="pre">
								资料库
							</p>
							<h2 class="title">
								优质电力、工解决方案 <br>
								<span>在线资料查看</span>

							</h2>
						</div>

						<div class="about-right-content-area-solar-energy">
							<!-- tab area start about -->
							<!--                        <ul class="nav custom-nav-soalr-about nav-pills" id="pills-tab" role="tablist">-->
							<!--                            <li class="nav-item" role="presentation">-->
							<!--                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"-->
							<!--                                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"-->
							<!--                                        aria-selected="true">Why Choose Us?-->
							<!--                                </button>-->
							<!--                            </li>-->
							<!--                            <li class="nav-item" role="presentation">-->
							<!--                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"-->
							<!--                                        data-bs-target="#pills-profile" type="button" role="tab"-->
							<!--                                        aria-controls="pills-profile" aria-selected="false">Our Mission-->
							<!--                                </button>-->
							<!--                            </li>-->
							<!--                            <li class="nav-item" role="presentation">-->
							<!--                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"-->
							<!--                                        data-bs-target="#pills-contact" type="button" role="tab"-->
							<!--                                        aria-controls="pills-contact" aria-selected="false">Our Goal-->
							<!--                                </button>-->
							<!--                            </li>-->
							<!--                        </ul>-->

							<!-- nav content start -->
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
										 aria-labelledby="pills-home-tab">
									<!-- single nav content start -->
									<div class="single-about-content-solar">
										<p class="disc">
											知悉：产品资料与报价请联系当地代理商。
										</p>
										<!--                                    <div class="row align-items-center">-->
										<!--                                        <div class="col-lg-6">-->
										<!--                                            <div class="left-area-wrapper">-->
										<!--                                                <img src="/static/21.jpg" alt="about">-->
										<!--                                            </div>-->
										<!--                                        </div>-->
										<!--                                        <div class="col-lg-6">-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
										<!--                                            <div class="single-ckeck-wrapper">-->
										<!--                                                <img src="/static/dt.png" alt="dotted">-->
										<!--                                                <p>Experienced Team of Exparts</p>-->
										<!--                                            </div>-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
										<!--                                            <div class="single-ckeck-wrapper">-->
										<!--                                                <img src="/static/dt.png" alt="dotted">-->
										<!--                                                <p>Very first Customers Service</p>-->
										<!--                                            </div>-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
										<!--                                            <div class="single-ckeck-wrapper">-->
										<!--                                                <img src="/static/dt.png" alt="dotted">-->
										<!--                                                <p>Flexiblity Work Environment</p>-->
										<!--                                            </div>-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
										<!--                                            <div class="single-ckeck-wrapper">-->
										<!--                                                <img src="/static/dt.png" alt="dotted">-->
										<!--                                                <p>Provide Quality Service-->
										<!--                                                </p>-->
										<!--                                            </div>-->
										<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
										<!--                                        </div>-->
										<!--                                    </div>-->
										<div>
											<div class="form--area" style="padding: 10px;">
												<form class="contact-page-form" name="frmSearch" action="#">
													<table border="0" cellpadding="0" cellspacing="0">
														<tbody>
														<tr height="25">
															<td>关键词汇</td>
															<td>&nbsp;&nbsp;</td>
															<td><input class="" name="keywords" maxlength="50"
																				 style="width:200px"/>
															</td>
														</tr>
														<tr height="25">
															<td>产品家族</td>
															<td>&nbsp;&nbsp;</td>
															<td><select class="border py-3 rounded-pill bg-white"
																					name="cboFam" style="width:360px">
																<option value="0">所有产品</option>
																<option value="15">变压器检测仪器</option>
																<option value="16">电力试验仪器</option>
																<option value="17">线缆故障诊断和定位</option>
															</select></td>
														</tr>
														</tbody>
													</table>
													<div>
														<input value="搜索" type="submit" style="width:100px;color: red;"/>
														<input value="清空表格" type="button" style="width:100px;line-height:22px"/>
													</div>
												</form>
											</div>
											<div class="form--area" style="padding: 20px;">
												<h5 class="title">价格表</h5>
												<div id="searchForm">
													<form name="frmSearch" method="post" action="#">
														<div>产品家族&nbsp;&nbsp;
															<select class="border py-3 rounded-pill bg-white" style="width: 300px;">
																<option value="0">所有产品</option>
																<option value="pid">OSI-TGA变压器油光声光谱在线监测系统
																</option>
																<option value="pid">BM100高压绝缘套管状态监测</option>
																<option value="pid">PD局部放电检测</option>
																<option value="pid">ECMO绝缘油水分含量在线监测</option>
																<option value="pid">GSM无线数字核相仪</option>
																<option value="pid">全自动组合耐压测试装置</option>
																<option value="pid">绝缘故障诊断系统</option>
																<option value="pid">ECML绝缘油耐压测试仪</option>
																<option value="pid">System变压器专用内窥镜</option>
																<option value="pid">RX-H-950移动式真空滤油装置</option>
																<option value="pid">电缆故障测试装置</option>
															</select>
															<input value="搜索" type="submit" class="sbuser">
														</div>
													</form>
												</div>
											</div>
										</div>
										<!-- vedio area start -->
										<!--                                    <div class="vedio-area-start">-->
										<!--                                        <a href="index.html#"-->
										<!--                                           class="rts-btn btn-primary">Read More <i-->
										<!--                                                class="fa-regular fa-arrow-right"></i></a>-->
										<!--                                        <div class="vedio-icone">-->
										<!--                                            <a id="play-video" class="video-play-button"-->
										<!--                                               href="index.html#">-->
										<!--                                                <span></span>-->
										<!--                                                <p class="text">-->
										<!--                                                    Play Vedio-->
										<!--                                                </p>-->
										<!--                                            </a>-->
										<!--                                            <div id="video-overlay" class="video-overlay">-->
										<!--                                                <a class="video-overlay-close">×</a>-->
										<!--                                            </div>-->
										<!--                                        </div>-->
										<!--                                    </div>-->
										<!-- vedio area end -->
									</div>
									<!-- single nav content end -->
								</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										 aria-labelledby="pills-profile-tab">
									<!-- single nav content start -->
									<!--                                <div class="single-about-content-solar">-->
									<!--                                    <p class="disc">-->
									<!--                                        Ontes mauris eget aliquet fermentum venenatis taciti tempus dignssim mollis-->
									<!--                                        pharetra class habitant congue pulvinar rhoncus proin bibendum torquent life-->
									<!--                                        ultrices penatibus feugiat phasellus.-->
									<!--                                    </p>-->
									<!--                                    <div class="row align-items-center">-->
									<!--                                        <div class="col-lg-6">-->
									<!--                                            <div class="left-area-wrapper">-->
									<!--                                                <img src="/static/21.jpg" alt="about">-->
									<!--                                            </div>-->
									<!--                                        </div>-->
									<!--                                        <div class="col-lg-6">-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Experienced Team of Exparts</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Very first Customers Service</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Flexiblity Work Environment</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Provide Quality Service-->
									<!--                                                </p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                        </div>-->
									<!--                                    </div>-->
									<!--                                    &lt;!&ndash; vedio area start &ndash;&gt;-->
									<!--                                    <div class="vedio-area-start">-->
									<!--                                        <a href="index.html#"-->
									<!--                                           class="rts-btn btn-primary">Read More <i-->
									<!--                                                class="fa-regular fa-arrow-right"></i></a>-->
									<!--                                        <div class="vedio-icone">-->
									<!--                                            <a id="play-video" class="video-play-button"-->
									<!--                                               href="index.html#">-->
									<!--                                                <span></span>-->
									<!--                                                <p class="text">-->
									<!--                                                    Play Vedio-->
									<!--                                                </p>-->
									<!--                                            </a>-->
									<!--                                            <div id="video-overlay" class="video-overlay">-->
									<!--                                                <a class="video-overlay-close">×</a>-->
									<!--                                            </div>-->
									<!--                                        </div>-->
									<!--                                    </div>-->
									<!--                                    &lt;!&ndash; vedio area end &ndash;&gt;-->
									<!--                                </div>-->
									<!-- single nav content end -->
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										 aria-labelledby="pills-contact-tab">
									<!-- single nav content start -->
									<!--                                <div class="single-about-content-solar">-->
									<!--                                    <p class="disc">-->
									<!--                                        Ontes mauris eget aliquet fermentum venenatis taciti tempus dignssim mollis-->
									<!--                                        pharetra class habitant congue pulvinar rhoncus proin bibendum torquent life-->
									<!--                                        ultrices penatibus feugiat phasellus.-->
									<!--                                    </p>-->
									<!--                                    <div class="row align-items-center">-->
									<!--                                        <div class="col-lg-6">-->
									<!--                                            <div class="left-area-wrapper">-->
									<!--                                                <img src="/static/21.jpg" alt="about">-->
									<!--                                            </div>-->
									<!--                                        </div>-->
									<!--                                        <div class="col-lg-6">-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Experienced Team of Exparts</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Very first Customers Service</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Flexiblity Work Environment</p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main &ndash;&gt;-->
									<!--                                            <div class="single-ckeck-wrapper">-->
									<!--                                                <img src="/static/dt.png" alt="dotted">-->
									<!--                                                <p>Provide Quality Service-->
									<!--                                                </p>-->
									<!--                                            </div>-->
									<!--                                            &lt;!&ndash; about ncheck wrapper main end &ndash;&gt;-->
									<!--                                        </div>-->
									<!--                                    </div>-->
									<!--                                    &lt;!&ndash; vedio area start &ndash;&gt;-->
									<!--                                    <div class="vedio-area-start">-->
									<!--                                        <a href="index.html#"-->
									<!--                                           class="rts-btn btn-primary">Read More <i-->
									<!--                                                class="fa-regular fa-arrow-right"></i></a>-->
									<!--                                        <div class="vedio-icone">-->
									<!--                                            <a id="play-video" class="video-play-button"-->
									<!--                                               href="index.html#">-->
									<!--                                                <span></span>-->
									<!--                                                <p class="text">-->
									<!--                                                    Play Vedio-->
									<!--                                                </p>-->
									<!--                                            </a>-->
									<!--                                            <div id="video-overlay" class="video-overlay">-->
									<!--                                                <a class="video-overlay-close">×</a>-->
									<!--                                            </div>-->
									<!--                                        </div>-->
									<!--                                    </div>-->
									<!--                                    &lt;!&ndash; vedio area end &ndash;&gt;-->
									<!--                                </div>-->
									<!-- single nav content end -->
								</div>
							</div>
							<!-- nav content end -->
							<!-- tab area start about end -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- rts about area end -->
</SiteLayout>