---
let year = new Date().getFullYear()
---
<div class="copyright-footer-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <p>Copyright &copy; <a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration: underline;">鄂ICP备2024054962号</a> kevlay凯伏莱, 2011 - {year} 版权所有</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery js -->
<script src="/static/jquery.min.js" is:inline></script>
<script src="/static/jqueryui.js" is:inline></script>
<script src="/static/counter-up.js" is:inline></script>
<script src="/static/swiper.js" is:inline></script>


<!-- <script src="assets/js/vendor/twinmax.js"></script> -->
<!-- <script src="assets/js/vendor/split-text.js"></script> -->
<!-- <script src="assets/js/plugins/text-plugins.js"></script> -->
<script src="/static/metismenu.js" is:inline></script>


<script src="/static/waypoint.js" is:inline></script>
<script src="/static/waw.js" is:inline></script>


<script src="/static/gsap.min.js" is:inline></script>
<script src="/static/scrolltigger.js" is:inline></script>
<!-- <script src="assets/js/plugins/aos.js"></script> -->
<!-- <script src="assets/js/plugins/jquery-ui.js"></script> -->
<script src="/static/jquery-timepicker.js" is:inline></script>
<!-- <script src="assets/js/vendor/sal.min.js"></script> -->

<script src="/static/bootstrap.min.js" is:inline></script>
<!-- <script src="assets/js/plugins/jquery-slideNav.js"></script> -->
<!-- <script src="assets/js/plugins/hover-revel.js"></script> -->
<!-- <script src="assets/js/plugins/contact-form.js"></script> -->

<script src="/static/main.js" is:inline></script>

<!-- <script src="assets/js/plugins/swip-img.js"></script> -->
<!-- header style two End -->
