---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {pageTitle} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kevlay凯伏莱 - {pageTitle}</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="keywords" content="kevlay，kevlay凯伏莱，电力系统 https://www.kevlay.com.cn"/>
    <meta name="description" content="https://www.kevlay.com.cn 美国Kevlay是基于瑞士Weidemann专业技术平台的成员之一，是专为电力系统自动化提供优质服务的专业设备供应服务商，长期致力于领先技术的产品和真诚优质的服务与广泛的客户及伙伴进行合作，并时刻准备着投入到他们的需求中去。我们习惯于把从实践中获得的经验加以不断地总结，并把这些富有成就的或深刻教训的经验用于不断改进今天和明天的每一个工作细节。"/>
    <link rel="stylesheet" href="/static/fontawesome-6.css">
    <link rel="stylesheet" href="/static/swiper.css">
    <link rel="stylesheet" href="/static/unicons.css">
    <link rel="stylesheet" href="/static/metismenu.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="key">
</head>
<body class="index-electrical onepage">
<Header />
<slot/>
<Footer />
</body>
</html>
